{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "plugins": [
        "flowtype",
        "chai-expect",
        "chai-friendly"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": false
        }
    },
    "env": {
        "node": true,
        "mocha": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "strict": ["off", "global"],
        "no-use-before-define": ["error","nofunc"],
        "no-mixed-spaces-and-tabs": "error",
        "no-trailing-spaces": "error",
        "semi": ["error", "always"],
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-eval": "error",
        "no-extra-bind": "error",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-octal-escape": "error",
        "no-process-exit": "error",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-sequences": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "error",
        "no-undef-init": "error",
        "no-undef": "error",
        "no-unused-expressions": "off",
        "no-with": "error",
        "consistent-return": "error",
        "curly": ["error", "all"],
        "dot-notation": ["error", { "allowKeywords": true }],
        "eol-last": "error",
        "no-extra-parens": ["error", "functions"],
        "eqeqeq": ["error", "smart"],
        "new-parens": "error",
        "semi-spacing": ["error", { "before": false, "after": true }],
        "keyword-spacing": ["error", { "before": true, "after": false, "overrides": {
            "var": { "before": true, "after": true },
            "let": { "before": true, "after": true },
            "const": { "before": true, "after": true },
            "case": { "before": true, "after": true },
            "else": { "before": true, "after": true },
            "of": { "before": true, "after": true },
            "return": { "before": true, "after": true },
            "try": { "before": true, "after": true },
            "finally": { "before": true, "after": true },
            "throw": { "before": true, "after": true },
            "do": { "before": true, "after": true },
            "from": { "before": true, "after": true },
            "import": { "before": true, "after": true },
            "export": { "before": true, "after": true }
        } }],
        "space-unary-ops": ["error", { "words": true, "nonwords": false }],
        "yoda": ["error", "never"],
        "space-infix-ops": "error",
        "quotes": ["error", "single", "avoid-escape"],
        "new-cap": "off",
        "no-redeclare": "error",
        "camelcase": "off",
        "no-shadow": "off",
        "comma-spacing": "error",
        "key-spacing": "error",
        "no-underscore-dangle": "off",
        "comma-dangle": ["error", "only-multiline"],
        "no-extend-native": "error",
        "flowtype/define-flow-type": "warn",
        "flowtype/use-flow-type": "warn",
        "chai-expect/missing-assertion": "error",
        "chai-expect/terminating-properties": "warn",
        "chai-friendly/no-unused-expressions": "error"
    }
}
